<a href="<%= url_for(dog) %>">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), class: "dog-photo img", alt: "Photo of #{dog.name}" %>
  </article>
</a>

<% Dog.all.each_with_index do |dog1, index| %>
  <% if dog == dog1 %>
    <% if index % 2 == 1 %>
      <a href="https://www.barkbox.com/">
      <img src='/assets/ad.jpg' class="img">
      </a>
    <% end %>
  <% end %>
<% end %>




