<%#= binding.pry %>
<%= will_paginate @dogs %>
<%= render partial: 'thumbnail', collection: @dogs, as: :dog %>
<%# Dog.all.each_with_index do |dog, index| %>
  <%# if index % 2 == 1 %>
<!--    <img src='/assets/ad.jpg'>-->
    <%#= binding.pry %>
    <%# a href="https://www.w3schools.com"%>
<!--    <h3> HELLO WORKF</h3>-->

  <%# end %>
<%# end %>
